@import "base";

.hero-block {
  background-image: url(../../images/home/hero-block/fa9b27255272d76e665cce4314b4aedb.jfif);
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  padding: 130px;
  padding-left: 50%;
  padding-right: 80px;
  &-text {
    background-color: #fff;
    padding: 48px;
    padding-inline: 56px;
    &__header {
      @extend %h2;
      margin-bottom: 20px;
    }
    &__bottom {
      @extend %bl;
      color: #5B5676;
      margin-bottom: 157px;
    }
    &__link {
      @extend %btn_medium_secondary;
    }
  }
}

.features-first-block {
  @extend %container-desktop;
  padding-top: 80px;
  padding-bottom: 80px;
  &__title {
    @extend %h3;
    color: #2A254B;
    text-align: center;
    margin-bottom: 36px;
  }
  &-card-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    &-item {
      @extend %features-card;
      
      &__title {
        @extend %h4;
        color: #2A254B;
      }
      &__text {
        @extend %bm;
        color: #2A254B;
      }
    }
  }
}

.listing-block {
  @extend %container-desktop;
  &-card-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    &-item {
      @extend %product-card-small;
      &__picture {
        width: $col-3;
      }
      &-text {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        &__title {
          @extend %h3;
          color: #2A254B;
          margin: 0;
        }
        &__price {
          @extend %bl;
          color: #2A254B;
          margin: 0;
        }
      }
    }
  }
  &__link {
    @extend %btn_medium_secondary;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 48px;
  }
}

.features-second-block {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: center;
  padding: 60px;
  padding-inline: 80px;
  &-left-panel {
    padding: 64px;
    background-color: #2A254B;
    flex-basis: 50%;
    &__title {
      font-family: ClashDisplay-Regular;
      font-size: 32px;
      font-weight: 400;
      line-height: 39.36px;
      text-align: left;
      color: #fff;
    }
    &__text {
      font-family: Satoshi-Regular;
      font-size: 18px;
      font-weight: 400;
      line-height: 24.3px;
      text-align: left;
      color: #fff;
      margin-bottom: 205px;
    }
    &__link {
      @extend %btn_medium_opaque;

    }
  }
  &-right-panel {
    flex-basis: 50%;
  }
}

.mailing-block {
  background-image: url(../../images/home/mailing/bae4257d89397ead63485f276489b3fa.png);
  background-position: center center;
  padding: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    @extend %h2;
    color:#fff;
    margin: 0;
    margin-bottom: 12px
  }
  &__text {
    @extend %bl;
    color:#fff;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
  &-benefits-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    margin: 0;
    margin-bottom: 40px;
    &-item {
      display: flex;
      column-gap: 8px;
      &__text {
        font-family: Satoshi-Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color:#fff;
      }
    }
  }
  &-form {
    display: flex;
    flex-direction: row;

    &__input {
      width: 354px;
      height: 56px;
      padding: 17px 32px;
      
      &::placeholder {
        font-family: Satoshi-Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
      }
    }
    &__button {
      @extend %btn_medium_primary;
      width: auto;
      color: #fff;
    }
    
  }

}



@media (min-width: 768px) {
  /* Стили для устройств с шириной viewport, находящейся в диапазоне 768px - 991px */
  }
  
  /* Устройства со средним экраном (ноутбуки и компьютеры, 992px и выше) */
  @media (min-width: 992px) {
    /* Стили для устройств с шириной viewport, находящейся в диапазоне 992px - 1199px */
  }
  
  /* Устройства с большим экраном (компьютеры, 1200px и выше) */
  @media (min-width: 1200px) {
    /* Стили для устройств с шириной viewport >1200px */
  }