@import url(../fonts/ClashDisplay/css/clash-display.css);
@import url(../fonts/Satoshi/css/satoshi.css);
@import url(../fonts/ClashDisplay/css/clash-display.css);
@import url(../fonts/Satoshi/css/satoshi.css);
@import url(../fonts/ClashDisplay/css/clash-display.css);
@import url(../fonts/Satoshi/css/satoshi.css);
@import url(../fonts/ClashDisplay/css/clash-display.css);
@import url(../fonts/Satoshi/css/satoshi.css);
.footer-mailing-form__button {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left; }

.footer-mailing-form__button {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left; }

.footer-mailing-form__button {
  width: 111px;
  top: 20px;
  left: 20px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  opacity: 0px;
  background-color: #fff; }
  .footer-mailing-form__button:hover {
    background-color: #F9F9F9; }
  .footer-mailing-form__button:focus {
    background-color: #fff;
    border: #4E4D93 solid 2px; }
  .footer-mailing-form__button:disabled {
    opacity: 50%; }

.footer-mailing-form__button {
  font-family: Satoshi-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left; }

:root {
  font-size: 62.5%; }

.product-block {
  padding-inline: 8rem; }

:root {
  font-size: 62.5%; }

.product-block {
  padding-inline: 8rem; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  overflow-x: clip; }

a {
  text-decoration: none;
  color: #000; }

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none; }

button {
  border: none; }

.header {
  background-color: #fff; }
  .header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-inline: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .header-top__logo {
      font-family: ClashDisplay-Regular;
      font-size: 24px;
      line-height: 29.52px;
      text-align: left; }
    .header-top-profile {
      display: flex;
      flex-direction: row;
      column-gap: 16px; }
  .header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 44px;
    padding: 20px; }
    .header-bottom__category {
      color: #726E8D;
      font-family: Satoshi-Regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: left; }

.footer {
  padding: 58px 82px 22px 82px;
  background-color: #2A254B;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "chapters form" "bottom bottom"; }
  .footer-chapters-wrapper {
    grid-area: chapters;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .footer-chapters-wrapper-column {
      display: flex;
      flex-direction: column;
      row-gap: 12px; }
      .footer-chapters-wrapper-column__title {
        font-family: ClashDisplay-Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.68px;
        text-align: left;
        color: #fff; }
      .footer-chapters-wrapper-column__link {
        font-family: Satoshi-Regular;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.9px;
        text-align: left;
        color: #fff; }
  .footer-mailing {
    grid-area: form; }
    .footer-mailing__title {
      font-family: ClashDisplay-Regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.68px;
      text-align: left;
      color: #fff;
      margin-bottom: 16px; }
    .footer-mailing-form {
      display: flex;
      flex-direction: row; }
      .footer-mailing-form__input {
        flex-grow: 1;
        height: 56px;
        padding: 17px 32px;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.15);
        font-family: Satoshi-Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #fff; }
        .footer-mailing-form__input::placeholder {
          font-family: Satoshi-Regular;
          font-size: 16px;
          font-weight: 400;
          line-height: 21.6px;
          text-align: left; }
      .footer-mailing-form__button {
        width: auto;
        height: auto; }
  .footer-bottom {
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #4E4D93 solid 1px;
    padding-top: 24px;
    margin-top: 48px; }
    .footer-bottom__copyright {
      color: #fff;
      font-family: Satoshi-Regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.9px;
      text-align: left; }
    .footer-bottom-socials-wrapper {
      display: flex;
      column-gap: 12px; }
      .footer-bottom-socials-wrapper__item {
        padding: 12px; }

.product-block {
  padding-top: 50;
  padding-bottom: 47px;
  display: flex;
  flex-direction: row;
  column-gap: 20px; }
  .product-block__picture {
    width: calc(calc((100vw - (2 * 8rem) - (11 * 20px)) / 12) * 6 + 20px * 5); }
  .product-block-details {
    width: calc(calc((100vw - (2 * 8rem) - (11 * 20px)) / 12) * 6 + 20px * 5); }
    .product-block-details__name {
      font-family: ClashDisplay-Regular;
      font-size: 36px;
      font-weight: 400;
      line-height: 44.28px;
      text-align: left;
      color: #2A254B;
      margin-top: 31px; }
    .product-block-details__price {
      font-family: Satoshi-Regular;
      font-size: 24px;
      font-weight: 400;
      line-height: 32.4px;
      text-align: left;
      color: #2A254B;
      margin-top: 16px;
      padding-bottom: 28px;
      border-bottom: 1px solid #EBE8F4; }
    .product-block-details-description {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      row-gap: 14px; }
      .product-block-details-description__header {
        font-family: ClashDisplay-Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.68px;
        text-align: left;
        color: #2A254B; }
      .product-block-details-description__text {
        font-family: Satoshi-Regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #2A254B; }

/*# sourceMappingURL=product.css.map */
